@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>StopreApp bilgi ve destek hattı</p>

         <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Sarıkonak Sitesi A Blok Kat 4 Daire 16
            İstanbul/Beyoğlu
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>stopreapp@storeapp.com</p>
    </div>
</div>