@page "/getintouch"


<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>0312-333-33-33</p>

         <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>İstanbul/Beyoğlu</p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>deneme@deneme.com</p>
    </div>
</div>